body {
  font-family: "Cormorant Upright", serif;
  font-size: 25px;
margin:0;
}

header {
  background: #03a9f4;
}
.logo {
  color: white;
  text-align: center;
}
header input {
    margin: 20px 0;

}
.input{
    width: 250px;
    margin:0 auto;
}
