html {
  font-size: 40px;
}
body {
  font-family: "Cormorant Upright", serif;
  margin: 0;
}

header {
  background: #03a9f4;
}
.logo {
  color: white;
  text-align: center;
  font: bold;
}
header input {
  margin: 20px 0;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  width: 300px;
  margin: 0 auto;
  height: 40px;
  border-radius: 8px;
}
