* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  background-color: rgb(236, 240, 243);
}
body {
  line-height: 1.6;
  font-weight: 390;
  font-size: 19px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.diceanimation{
  animation: bounceIn 2s ease-in-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}