* {
  box-sizing: border-box;
  font-size: 19px;
  line-height: 1.7;
  font-family: "Courier New", Courier, monospace;
}

.colorBox {
  height: 30vh;
  width: 35vh;
  border: 2px solid black;

}

.colorBoxes{
  display: flex;
  flex-flow: row wrap;
  margin-left: 40px;
}

