* {
  box-sizing: border-box;

}

html {
  font-weight: 350;
  line-height: 1.6;
  font-family: Verdana, sans-serif;
  font-size: 18px;
}

body {
  background-color: #c3fad2;
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem;
}

.todoContainer {
  width: 50vw;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 5px 5px #c3fba9;
}

.todoContainer h3 {
  border-bottom: black dotted 1px;
}
label{
  display:block;
}
input{
  padding:0.5rem;
  width: 50%;
}

button{
  margin-left:1rem;
  padding: 0.5rem;
  border-radius: 6px;
  color:white;
  background: burlywood;
}
.todo{
background: #c3fad2;
padding: 0.5rem;
margin-bottom: 0.2rem;
display: flex;
justify-content: space-between;
overflow:hidden;
}
.todo span{
  margin-left:20px;
}
.todo p {
  /* width: 100%; */
}

.todo .todoSpan:hover{
  text-decoration: line-through;
  cursor: pointer;
}
i{
  cursor: pointer;
}

span i {
  padding: 0.2rem;
  
}
.todoEdit{
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}